@model IEnumerable<GabriniCosmetics.Areas.Admin.Models.DTOs.UserDto>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12 text-sm-end d-flex justify-content-end align-items-center gap-3">
            <form class="w-100" method="get" href="/admin/Users/index" autocomplete="off">
                <div class="form-group m-0">
                    <input style="border: none; -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05); box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05); height: 50px; padding-left: 30px;"
                           class="form-control"
                           name="searchTerm"
                           type="search"
                           placeholder="Search.."
                           data-original-title=""
                           title="">
                    <i style="position: absolute; top: 18px; right: 50px; color: #898989;"
                       class="fa fa-search"></i>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="list-product list-subcategory">
                        <table class="table table-striped" id="subcategory-table">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Phone Number</th>
                                    <th>Birth Date</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.FirstName</td>
                                        <td>@user.LastName</td>
                                        <td>@(user?.Gender == "M" ? "Male" : "Female" )</td>
                                        <td>@user.PhoneNumber</td>
                                        <td>@user.DateOfBirth.ToString("dd-MM-yyyy")</td>
                                        <td>@user.City</td>
                                        <td>
                                            <div class="product-action">
                                                <a class="action-icon" href="/Admin/Users/Details/@user.Id">
                                                    <i class="fa-sharp fa-regular fa-eye"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>